// TODO:G Move to a theme
$horizontal-navigation-bar-hover-background: rgba(158, 158, 158, .2);

non-horizontal-navigation-bar {
    .md-menu-bar-button {
        margin: 0;
        outline: none;

        &:hover {
            background-color: $horizontal-navigation-bar-hover-background;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    md-menu-bar button {
        margin-left: 5px;
    }

    &.spread md-menu-bar button {
        padding: 0 30px;
    }
}
